<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSdLj8ssFXkJjAbVgqU1kDY67lPD0WcMkpkf7PX6h4HckOBssA/viewform?usp=sf_link" target="_blank" rel="nofollow">Опубликуйте мой текст/Критика</a>
            </li>
            {%- if site.email -%}
            <li><br><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p><a href="/otkaz-ot-otvetstvennosti/">Отказ от ответственности</a></p>
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
